$btn-font-weight: $font-weight-normal;
$btn-border-width: 1px;

.button {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: ($base-unit * 0.25) $base-unit;
  margin-bottom: $base-unit;
  font-size: $font-size-sans-0;
  line-height: $line-height-0;
  border: $btn-border-width solid transparent;
  border-radius: $base-unit;
  box-shadow: 0 ($base-unit * 0.25) ($base-unit * 0.5) rgba($violet-0, 0.5);
  transition: background-color $duration-short $easing-base, color $duration-short $easing-base, box-shadow $duration-short $easing-base;

  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom-color: transparent;
    box-shadow: 0 ($base-unit * 0.1875) ($base-unit * 0.375) rgba($violet-0, 0.5625);
  }

  &:active {
    box-shadow: 0 ($base-unit * 0.125) ($base-unit * 0.25) rgba($violet-0, 0.625);
  }

  & + & {
    margin-left: $base-unit;
  }

  &.primary {
    background-color: $violet-0;
    color: $bg-color-1;

    &:hover,
    &:focus {
      background-color: darken($violet-0, 10);
    }

    &:active {
      background-color: darken($violet-0, 20);
    }
  }

  &.secondary {
    background-color: transparent;
    border-color: currentColor;
    color: $violet-0;

    &:hover,
    &:focus {
      background-color: lighten($violet-0, 49);
    }

    &:active {
      background-color: lighten($violet-0, 45);
    }
  }

  &.white {
    &.secondary {
      background-color: rgba($bg-color--1, 0.62);
      box-shadow: 0 ($base-unit * 0.25) ($base-unit * 0.5) rgba($bg-color--1, 0.5);
      color: $white;

      &:hover,
      &:focus {
        color: $violet-0;
        background-color: lighten($violet-0, 49);
      }

      &:active {
        color: $violet-0;
        background-color: lighten($violet-0, 45);
      }
    }
  }

  &.no-shadow {
    box-shadow: none;
  }
}
