.item-oval {
  position: relative;
  transition: background-image .5s ease;

  @include oval($white);

  &.item-now {
    @include oval($yellow);
  }

  &.item-soon {
    @include oval($orange);
  }

  &.item-past {
    @include oval($white);
  }

  &.item-oval-blur {
    @include oval($white, true);

    &.item-now {
      @include oval($yellow, true);
    }

    &.item-soon {
      @include oval($orange, true);
    }

    &.item-past {
      @include oval($white, true);
    }
  }

  // homepage
  &.item-project {
    &.item-oval:hover {
      @include oval($white, true);
    }

    &.item-now:hover {
      @include oval($yellow, true);
    }

    &.item-soon:hover {
      @include oval($orange, true);
    }

    &.item-past:hover {
      @include oval($white, true);
    }
  }
}
