body {
  display: flex;
  flex-flow: column;

  // border: $base-unit solid white;
  // padding: 0 $base-unit * .5;
}

main {
  flex: 1;
}

.section {
  width: 100%;

  .section-item {
    flex: 1;
  }

  .section-image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .section-title-container {
    flex: 1 0 100%;
  }
}

.section-inner {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: 100%;
  max-width: $base-unit * 60;
  padding: 0 $gutter * .5;
  margin: 0 auto;
}

.section-item {
  &,
  &:hover {
    border-bottom: 0;
  }
}

.layout-3 {
  @supports not (display: grid) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @supports (display: grid) {
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: repeat(1, 1fr);

    @include mq($min-width: $breakpoint-m) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .section-item {
    margin-bottom: $base-unit;
  }
}
