html,
body {
  font-feature-settings: "kern" 1, "liga" 1, "lnum" 1, "onum" 0, "pnum" 1;
  overflow-x: hidden;
}

html {
  @include font-size($font-sizes-root);
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-color: $bg-color;
  color: $text-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $heading-font-family;
  font-feature-settings: "dlig" 0;
}

h1,
.h1 {
  @include heading(h1, currentColor, 600);
}

h2,
.h2 {
  @include heading(h2, currentColor, 600);
}

h3,
.h3 {
  @include heading(h3, currentColor, 600);
  letter-spacing: .3em;
  text-transform: lowercase;
}

h4,
.h4 {
  @include heading(h4, currentColor, 600);
}

h5,
.h5 {
  @include heading(h5, currentColor, 600);
}

h6,
.h6,
.label {
  @include heading(h6, currentColor, 600);
}

// Set margins between headings
h1 + h2,
.h1 + h2,
h1 + .h2,
.h1 + .h2 {
  margin-top: $base-unit;
}

h2 + h3,
.h2 + h3,
h2 + .h3,
.h2 + .h3 {
  margin-top: $base-unit * -0.5 * 1.1;
  margin-bottom: $base-unit;
}

h3 + h4,
h4 + h5 {
  margin-top: $base-unit * 0.5;
}

h5 + h6,
.h5 + h6,
h5 + .h6,
.h5 + .h6 {
  margin-top: $base-unit * -0.5;
}

//
p {
  margin: 0 0 $base-unit;

  &.text-smaller {
    margin-bottom: $base-unit * 0.5;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

//
a {
  color: $action-color;
  text-decoration: none;
  // transition: color $duration-shorter $easing-in-out, border-bottom-color $duration-shorter $easing-in-out;
  border-bottom: 1px solid transparent;

  &:active,
  &:focus,
  &:hover {
    color: $hover-color;
    border-bottom-color: currentColor;
  }
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: $base-unit * 0.5;
}

//
blockquote {
  position: relative;
  padding: 0;
  margin: 0;
  font-style: italic;

  @include mq($min-width: $breakpoint-l) {
    &::before {
      content: "„";
      position: absolute;
      bottom: 100%;
      right: calc(100% + #{$base-unit * 0.25});
      font-size: $font-size-body-4;
    }
  }


  p {
    margin: 0 0 ($base-unit * 0.5);

    &:last-of-type {
      margin-bottom: $base-unit * 0.5;
    }
  }

  + .source,
  + .zdroj {
    text-align: right;
  }
}

dt {
  margin-bottom: $base-unit * 0.25;

  a {
    font-size: $font-size-body-1;
    color: $text-color;

    // line-height: $line-height-2;

  }
}

dd {
  font-size: $font-size-body-1;
  line-height: $line-height-2;
  max-width: $base-unit * 20;
  margin-left: 0;

  &:not(:last-child) {
    margin-bottom: $base-unit;
  }
}

//
hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-unit 0;
}

//
img,
picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

video {
  margin: 0 auto $base-unit;
}

//
.text-large {
  font-size: $font-size-body-1;
  line-height: $line-height-1;
}

.text-normal {
  font-size: $font-size-body-0;
  line-height: $line-height-0;
}

.text-small {
  font-size: $font-size-body--1;
  line-height: $line-height--1;
}

// .text-smaller {
//   font-size: $font-size-body-1;
//   line-height: $line-height-2;

//   a {
//     line-height: $line-height-2;
//   }
// }

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-light {
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: .04em;
}

.label {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .04em;
}
