$font-size-root-null: 87.5%;
$font-size-root-xs: 87.5%;
$font-size-root-s: 100%;
$font-size-root-m: 87.5%;
$font-size-root-l: 93.75%;
$font-size-root-xl: 93.75%;
$font-size-root-xxl: 100%;
$font-size-body-0: 1rem;
$font-size-body-1: 1.25rem;
$font-size-body-2: 1.5625rem;
$font-size-body-3: 1.9375rem;
$font-size-body-4: 2.4375rem;
$font-size-body--2: 0.6875rem;
$font-size-body--1: 0.8rem;
$font-size-heading-0: 1rem;
$font-size-heading-1: 1.125rem;
$font-size-heading-2: 1.75rem;
$font-size-heading-3: 3.75rem;
$font-size-heading--2: 0.6875rem;
$font-size-heading--1: 0.8rem;


// 60
// 28
// 18
