$duration-shorter: 0.1s;
$duration-short: 0.19s;
$duration-medium: 0.38s;
$duration-long: 0.62s;
$delay-shorter: 0.1s;
$delay-short: 0.19s;
$delay-medium: 0.38s;
$delay-long: 0.62s;
$easing-base: ease;
$easing-linear: linear;
$easing-in-out: cubic-bezier(0.62, 0.05, 0.38, 1);
$easing-in: cubic-bezier(0.62, 0, 0.8, 0.38);
$easing-out: cubic-bezier(0.2, 0.62, 0.38, 1);
