a#logo(href="#header" title="Nahoru")
  svg(xmlns="http://www.w3.org/2000/svg")
    use(xlink:href="#svg-logo")

a#mobile-menu-toggle(href="#")
  svg(xmlns="http://www.w3.org/2000/svg")
    use(xlink:href="#svg-burger")

include navigation

