#loading-screen
  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 400 400")
    path(d="M12 283V156h77v-12H0v151h182v-12H12M311 144v12h77v127H218v12h182V144h-89")
    path(d="M194 254v41h12v-41h93V104H101v150zm-81-12V116h174v126z")
  h1 Loading
