//- // Facebook Open Graph tags
//- meta(property="og:type" content="website")
meta(property="og:site_name" content= "Jan Zálešák: Apocalypse Me")
//- meta(property="og:price:amount" content="0")
//- meta(property="og:price:currency" content="CZK")
//- meta(property="og:availability" content="instock")
meta(property="og:image" content="http://www.apocalypseme.com/assets/img/apocalypseme.png")
meta(property="og:url" content="http://www.apocalypseme.com/")
meta(property="og:description" content= "This book is the follow up to the exhibition Apocalypse Me that took place 3–15 April 2016 at the Emil Filla Gallery in Ústí nad Labem. Photographs of the exhibits play an important role in the book, and several of the artworks are incorporated directly into the text in order to illustrate particular points. However, this is not so much a catalogue as a di erent way of approaching the issues commonly grouped under the headings ‘apocalypse’ or ‘end of the world’.")
meta(property="og:title" content= "Apocalypse Me")

//- // Twitter Card
meta(name="twitter:card" content="summary")
meta(name="twitter:creator" content="Jan Zálešák")
meta(name="twitter:url" content="http://www.apocalypseme.com/")
meta(name="twitter:title" content= "Jan Zálešák: Apocalypse Me")
meta(name="twitter:description" content= "This book is the follow up to the exhibition Apocalypse Me that took place 3–15 April 2016 at the Emil Filla Gallery in Ústí nad Labem. Photographs of the exhibits play an important role in the book, and several of the artworks are incorporated directly into the text in order to illustrate particular points. However, this is not so much a catalogue as a di erent way of approaching the issues commonly grouped under the headings ‘apocalypse’ or ‘end of the world’.")
meta(name="twitter:image:src" content="http://www.apocalypseme.com/assets/img/apocalypseme.png")
