include _mixins/mixins.pug

block variables
  - let language
  - let page

doctype html
html(lang= language || "cs")
  head
    block google-analytics
    //- include google-analytics.pug

    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1")

    block title
      meta(name="description" content= description)
      meta(name="keywords" content= keywords)
      title= title

    block favicon
      link(rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32")
      link(rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16")
      link(rel="apple-touch-icon" href="assets/img/apple-touch-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png")

    block css
      link(rel="stylesheet" href="assets/css/styles.css?" + Math.floor(Date.now() / 1000))

    block typekit
      //- script(src="https://use.typekit.net/jro1rpp.js")
      //- script.
      //-   try{Typekit.load({ async: true });}catch(e){}

  body.loading
    //- loading screen
    include loading-screen.pug

    //- SVG assets
    include svg.pug

    heade.header#header
      block header

    main.main#main
      block content

    footer.footer#footer
      block footer

    block javascript
      //- Google Maps
      //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvV3EpFQlXNQ40mTRwGcI3B13gD-L4vGk")
      //- Main JS
      script(src="assets/js/main.build.js?" + Math.floor(Date.now() / 1000))

    block fonts
      link(rel="stylesheet" href="assets/fonts/fonts.css?" + Math.floor(Date.now() / 1000))

