svg#svg-lib(xmlns="http://www.w3.org/2000/svg")
  symbol#svg-burger(viewbox='0 0 58 36')
    title Mobile menu
    rect(width='58', height='2')
    rect(y='17', width='58', height='2')
    rect(y='34', width='58', height='2')


