.main-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: $base-unit 0;
  background-color: $bg-color;

  @supports (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur($base-unit / 3);
    background-color: rgba($bg-color, 0.9);
  }

  // font-weight: $font-weight-bold;
  // font-size: $font-size-body-0;
  // line-height: $header-height * 0.75;

  // a {
  //   &:hover {
  //     color: $action-color;
  //   }
  // }

  ul {
    margin: 0;
  }

  @include mq($max-width: $breakpoint-m) {
    z-index: 99;
    text-align: center;
    line-height: $line-height-2;

    &[data-state="open"] {
      display: flex;
      flex-flow: column;
    }
  }


  @include mq($min-width: $breakpoint-m) {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    top: initial;
    padding: 0 $base-unit;
    // line-height: $header-height;
    // text-align: right;
    background-color: transparent;

    li {
      display: block;
    }
  }
}

#navigation {
  white-space: nowrap;

  @include mq($min-width: $breakpoint-m) {
    li {
      margin: 0 0 0 $base-unit;
    }
  }
}

#mobile-menu-toggle {
  display: flex;
  align-items: center;
  color: $action-color;
  padding: $base-unit * .5;

  span {
    padding: 0 ($base-unit * .5);
  }

  .svg-icon,
  span {
    display: inline-block;
  }

  .svg-icon {
    width: $base-unit * 1.25;
    height: $base-unit;
  }

  svg {
    width: 100%;
    height: 100%;
    stroke: $action-color;
    stroke-width: 5px;
  }

  //
  @include mq($min-width: $breakpoint-m) {
    display: none;
  }
}
