@import "tokens/font-family";
@import "tokens/font-sizes";
@import "tokens/font-weights";
@import "tokens/line-heights";

// Fonts
$fallback-font: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-family: "Option", $fallback-font;
$heading-font-family: $base-font-family;

$base-font-weight: 400;

// Font Sizes
$base-font-size: $font-size-root-l;
// Font Sizes for different media queries
$font-sizes-root: (
  null: $font-size-root-null,
  xs:   $font-size-root-xs,
  s:    $font-size-root-s,
  m:    $font-size-root-m,
  l:    $font-size-root-l,
  xl:   $font-size-root-xl,
  xxl:  $font-size-root-xxl
  ) !default;

// Line height
$base-line-height: $line-height-0;

// Vertical rhytm units
$base-unit: $base-line-height;

//
// Headings Options
// - size (rem),
// - line height (rem),
// - margin top (rem),
// - margin bottom (rem)
$headings: (
  h1: ($font-size-heading-3, $line-height-3, 0, 0),
  h2: ($font-size-heading-2, $line-height-2, 0, 0),
  h3: ($font-size-heading-2, $line-height-2, 0, 0),
  h4: ($font-size-heading-1, $line-height-1, 0, 0),
  h5: ($font-size-heading-0, $line-height-0, 0, 0),
  h6: ($font-size-heading-0, $line-height-0, 0, 0)
  ) !default;
