@import "colors";
@import "tokens/motion";
@import "typography";
@import "media-queries";
@import "components";

$gutter: $base-unit;

$header-height: $base-unit * 6;

$project-size: 24.75vw;
$project-status-size: $base-unit * 2;

// Border
$base-border-color: transparent;
$base-border: 1px solid $base-border-color;
$base-border-radius: 3px;
$box-shadow: 0 0 $base-unit * 2 rgba($text-color, .8);

// Buttons
$button-shadow: 0 0 $base-unit / 2 rgba(0, 0, 0, .2);

// SVG
$svg-circle-size: $base-unit * 1.2;
